#content {
    h1, h2, h3 {
        margin: 1.5em 0 1em 0;
        font-weight: 400;
    }
    
    h1 {
        color: #332c28;
    }
    
    h2, h3 {
        color: #594b44;
    }

    h4, h5, h6 {
        margin: 10px 0;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p + p {
        margin-top: .5em;
    }

    ul, ol {
        padding: .5em 40px;
        line-height: 1.25rem;

        li {
            margin-bottom: .5em;

            p {
                line-height: 1.5rem;
            }
        }

        & ul {
            padding-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        color: #cc7c33;
        border-bottom: 1px dotted;

        &:hover {
            color: #ff7b00;
        }
    }

    code, pre {
        font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
        font-size: 12px;
        color: #333;
        overflow-x: auto;
    }
    
    pre {
        margin: 1.5em (-$page_side_padding);
        padding: 1em $page_side_padding;
        line-height: 1.5em;
        
        code {
            color: #f8f8f2;
        }
    }

    table {
        margin: 1.5em auto;
        max-width:100%;
        border-collapse:collapse;

        th, td {
            text-align:left;
            padding:5px 10px;
            border-bottom:1px solid #aaa;
        }

        th {
            color: #222;
        }

        &.picture-board {
            th, td {
                border: none;
                & img {
                    margin: 0;
                }
            }
        }
    }

    hr {
        border-top: 1px solid #c3c3c3;
        border-bottom: 1px solid #fff;
    }

    img {
        display: block;
        margin: 1.5em auto;
        max-width:100%;
    }

    blockquote {
        margin: 1.5em auto;
        padding: 10px 20px;
        font-style: italic;
        background-color: rgba(#fff, .5);
        border-radius: 8px;
        border-top: 1px solid rgba(#000, .25);
        border-bottom: 1px solid #fff;
        box-shadow: inset 0 2px 4px rgba(#000, .15);
    }

    dl {
        margin-top: 1em;
        padding: .5em 0;
        line-height: 1.25rem;

        dt {
            margin-bottom: .5em;
            color:#222;
            font-weight:700;
        }
    }

    dd + dt {
        margin-top: 1em;
    }

    iframe {
        display: block;
        max-width: 100%;
        margin: 2em auto;
    }
    
    .shadow {
        box-shadow: 0 4px 8px rgba(#000, .25);
    }

    div.filename {
        display: inline-block;
        margin-top: 1.5em;
        padding: 2px 1em;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgb(149, 149, 231);
        color: #fff;

        & + .highlighter-rouge > .highlight > pre {
            margin-top: 0;
        }
    }
}